.container{
    background-color: #0D3346;
    width: 260px;
    height: 260px;
    border-radius: 20px;
    border-color: #156380;
    border-width: 5px;
    
    &-text{
        font-size: 24px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-family: "Kanit";
    }
   
}