$button-primary : #09D1D5;

.main_image {
    background-image: url("/images/hero/mainbackgroundimage-modified.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-blend-mode: multiply;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-top: 320px;
    gap: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

.explore_btn {
    border: none;
    display:inline-flex ;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #13FCFF 0%, #056D6F 100%);
    transition: all 0.3s ease-in-out;
    height: -2px;
    width: 250px;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    padding: 20px;;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.explore_btn:hover {
    font-size: 35px;
    box-shadow: inset 9px 9px 10px #056D6F;
    transition: all 0.3s ease-in-out;
}

.explore_btn:hover::before {
    font-size: 0;
    transition: all 0.4s ease-in-out;
}

.explore_btn:hover::after {
    content: "→";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-weight: 900;
    font-size: 50px;
    transition: all 0.4s ease-in-out;
    opacity: 1;
}
.explore_btn::after {
    content: "→"; 
    font-size: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out; 
  }