.h1, h1{
    font-size: 108px;
    line-height: 137px;
}

.h2, h2{
    font-size: 86px;
    line-height: 129px;
}

.h3, h3{
    font-size: 48px;
    line-height: 72px;
}

.h4, h4{
    font-size: 32px;
    line-height: 40px;
}

.h5, h5{
    font-size: 28px;
    line-height: 30px;
}

@include responsive(handhelds) {
    .h1, h1{
        font-size: 54px;
        line-height: 65px;
    }
    
    .h2, h2{
        font-size: 43px;
        line-height: 60px;
    }
    
    .h3, h3{
        font-size: 36px;
        line-height: 48px;
    }
    
    .h4, h4{
        font-size: 28px;
        line-height: 36px;
    }
    
    .h5, h5{
        font-size: 24px;
        line-height: 28px;
    }
}